.apropos-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  .logo {
    border-radius: 20px;
    object-fit: cover;
    height: 200px;
    width: 1800px;
  }

  .valeurs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .cadre-mot {
      border-radius: 5px;
      width: 1500px;
      padding: 10px;
      margin: 20px;
      display: flex;
      align-items: center;
      background-color: #ff6060;

      .mot-text {
        flex: 1;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }

      .arrow-icon {
        height: 25px;
        cursor: pointer;
        transition: transform 0.3s;
      }
    }

    .cadre-mot.no-margin {
      margin: 0;
    }
  }
}

.arrow-icon.rotated {
  transform: rotate(180deg);
}

.depliant-apropos {
  background-color: #F9F9F9;
  border-radius: 0px 0px 10px 10px;
  width: 1480px;
  height: 70px;
  padding: 20px;
}

.arrow-icon-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}