.FooterContainer {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction:column ;

  .PagePar {
    color: white;
    padding-top: 25px;

  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}