.nav-container {
  padding: 30px 30px 30px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .link {
    text-decoration: none;
    padding-right: 55px;
    color: black;
    font-weight: bold;
  
    &:hover {
      text-decoration: none;
    }
    
    &.visited {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      color: black;
    }
  }
}

.logo {
  height: 45px;
}